:root {
  
}

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.25rem;
  min-height: 75vh;
}

.calculator {
  width: 25rem;
  border: 2px solid #000;
  border-radius: 1.25rem;
  padding: 1.25rem;
}

.calculator .output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border: 2px solid #000;
  border-radius: .5rem;
  margin-bottom: 2rem;
  padding: 5px 10px;
  height: 6.25rem;
}

.output .previous-output {
  font-size: 1.5rem;
}

.output .current-output {
  font-size: 2.5rem;
}

.calculator .button-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5rem;
}

.button-grid .btn {
  height: 4.75rem;
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  border: 2px solid #000;
  border-radius: .25rem;
}

.button-grid .span-2 {
  grid-column: span 2;
}