*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-clr: #ffffff;
  --background-clr: #f6f6f6;
  --calculator-clr: #2b2a2a;
  --border-clr: #000000;
  --light-shadow: #333333;
  --dark-shadow: #000000;
  --btn-shadow: #080808;
  --display-clr: #111111;
  --operator-clr: #d49218;
  --operator-hover: #b47d17;
  --operator-active: #a57315;
  --number-clr: #585858;
  --number-hover: #464646;
  --number-active: #3d3d3d;
  --del-clr: #888888;
  --del-hover: #727272;
  --del-active: #666666;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: var(--background-clr);
}

/** Main **/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/** Calculator **/
.calculator {
  width: 400px;
  padding: 20px;
  background-color: var(--calculator-clr);
  border: 2px solid var(--border-clr);
  border-radius: 10px;

}

.calculator .output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
  width: 350px;
  border: 2px solid var(--border-clr);
  border-radius: 8px;
  padding: 5px 10px;
  background-color: var(--display-clr);
  color: var(--font-clr);
  margin-bottom: 32px;
  box-shadow: inset 2px 2px 10px var(--dark-shadow);
  overflow: hidden;
}

.calculator .previous-output {
  font-size: 24px;
}

.calculator .current-output {
  font-size: 40px;
}

.calculator .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/** Button **/
.buttons .btn {
  width: 80px;
  height: 80px;
  cursor: pointer;
  font-size: 32px;
  outline: none;
  border: 2px solid var(--border-clr);
  border-radius: 8px;
  background-color: var(--number-clr);
  color: var(--font-clr);
  box-shadow: 3px 3px 5px var(--btn-shadow);
}

.buttons .btn:hover {
  background-color: var(--number-hover);
}

.buttons .btn:active {
  background-color: var(--number-active);
  transform: translateY(2px);
}

.buttons .btn-operator {
  background-color: var(--operator-clr);
}

.buttons .btn-operator:hover {
  background-color: var(--operator-hover);
}

.buttons .btn-operator:active {
  background-color: var(--operator-active);
}

.buttons .btn-light {
  background-color: var(--del-clr);
}

.buttons .btn-light:hover {
  background-color: var(--del-hover);
}

.buttons .btn-light:active {
  background-color: var(--del-active);
}

.buttons .btn-wide {
  width: 170px;
}